.stack {
    width: 48px;
    height: 48px;
    position: relative;
}
.stack.sm {
    width: 36px;
    height: 36px;
}
.stack.lg {
    width: 80px;
    height: 80px;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.stack.sm .avatar {
    width: 20px;
    height: 20px;
}
.stack.lg .avatar {
    width: 48px;
    height: 48px;
}

/* Style xếp chồng 3 avatar
*/
.avatar1 {
    top: 0;
    left: 10px;
    z-index: 3;
}
.avatar2 {
    bottom: 0;
    left: 0;
    z-index: 2;
}
.avatar3 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.plusCount {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background-color: var(--surface-raised-light);
    color: var(--text-secondary-light);
    font-size: 11px;
    font-weight: 600;
    display: grid;
    place-items: center;

    bottom: 0;
    right: 0;
    z-index: 4;
}
.stack.sm .plusCount {
    width: 20px;
    height: 20px;
    font-size: 9px;
}
.stack.lg .plusCount {
    width: 48px;
    height: 48px;
    font-size: 16px;
}

.avatar:first-child:last-child {
    /* Chỉ có 1 avatar */
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}
.avatar:first-child:nth-last-child(2) {
    /* Chỉ có 2 avatar (1) */
    top: 0;
    left: 0;
}
.avatar:nth-child(2):last-child {
    /* Chỉ có 2 avatar (2) */
    bottom: 0;
    right: 0;
}
